Node-RED.json
[
    {
        "id": "8df4e8b09993157b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f11fcff468ef5efa",
        "type": "json",
        "z": "8df4e8b09993157b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "04ac33a7b785788c"
            ]
        ]
    },
    {
        "id": "280f17913acfcfe8",
        "type": "serial in",
        "z": "8df4e8b09993157b",
        "name": "",
        "serial": "3044d84af91133d3",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "f11fcff468ef5efa"
            ]
        ]
    },
    {
        "id": "04ac33a7b785788c",
        "type": "function",
        "z": "8df4e8b09993157b",
        "name": "function 4",
        "func": "var currentDate = new Date();\n\nvar B = {\n    payload: {\n        \"variable\": \"distancia\",\n        \"unit\": \"centimetros\",\n        \"value\": msg.payload.distance.toString(),\n        \"location\": { \"lat\": -23.564020356509253, \"lng\": -46.65240796159984 }\n    }\n};\n\nreturn B;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "e70ad29dc440607f",
                "9a4b89fc882fb6ed"
            ]
        ]
    },
    {
        "id": "e70ad29dc440607f",
        "type": "debug",
        "z": "8df4e8b09993157b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "9a4b89fc882fb6ed",
        "type": "mqtt out",
        "z": "8df4e8b09993157b",
        "name": "Broker TAGO",
        "topic": "tago/data/post",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bb840835b690bdd",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "3044d84af91133d3",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5bb840835b690bdd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]